@charset "UTF-8";
/*Обнуление*/
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,900);
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: Lato;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 820px;
  margin: 0 auto;
}

.content {
  flex: 1 1 auto;
}

.slider {
  background: url(../img/slider/bg.jpg) no-repeat center;
  max-width: 100%;
  text-align: center;
}
.slider__row {
  display: flex;
  height: 1000px;
  justify-content: center;
  align-items: center;
  align-content: space-around;
  flex-direction: column;
}
.slider__logo {
  width: 195px;
  height: 123px;
}
.slider__logo img {
  margin-top: -140px;
}
.slider__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.slider__title {
  width: 757px;
  height: 70px;
  color: #ffffff;
  font-family: "Lato";
  font-size: 34px;
  font-weight: 400;
  line-height: 40px;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 5.43px;
}
.slider__text {
  width: 410px;
  height: 30px;
  font-family: Lato;
  color: #ffffff;
  font-size: 26px;
  font-weight: 400;
  letter-spacing: 4.15px;
}
.slider:before {
  content: "";
  position: absolute;
  top: 40rem;
  width: 105px;
  height: 2px;
  left: 50%;
  background-color: #fff;
  margin: 0px 0px 0px -52.5px;
}
.slider__btn {
  margin-top: 180px;
}
.slider__btn input {
  background: none;
  border: 2px solid #fff;
  padding: 16px 40px 18px 42px;
  color: #ffffff;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.67px;
}
.slider__btn input:hover {
  background: #fff;
  transition: 0.5s;
  color: #000;
  margin: 0px 0px 0px 0px;
}

.menu {
  max-width: 100%;
  border-bottom: 1px solid #f0f0f0;
  padding: 20px 0px 20px 0px;
}
.menu__list {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 422px;
  margin: 0 auto;
}
.menu__list-item {
  height: 15px;
  color: #3c3c3c;
  font-family: Lato;
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 0px 17px 0px 17px;
}
.menu__list-item a {
  cursor: pointer;
  text-decoration: none;
}

.item-active {
  color: #ada074;
  font-weight: 700;
}

.about__body {
  max-width: 823px;
  margin: 0px auto;
}
.about__header {
  margin: 95px 0px 65px 0px;
}
.about__title {
  margin: 0px 0px 30px 0px;
}
.about__text {
  max-width: 688px;
  color: #868585;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  line-height: 25.89px;
  margin: 0px auto;
}
.about__row {
  display: flex;
  font-size: 0;
  margin: 0px -15px;
}
.about__column {
  padding: 0px 15px;
  flex: 0 0 33.333%;
}

.title {
  font-size: 34px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 8.95px;
  position: relative;
  text-align: center;
  padding: 0px 0px 30px 0px;
}
.title:after {
  content: "";
  position: absolute;
  width: 50px;
  bottom: 0;
  height: 1px;
  left: 50%;
  background-color: #000;
  margin: 0px 0px 0px -25px;
}

.item-about__icon {
  margin: 0px auto 40px auto;
  border-radius: 50%;
  width: 92px;
  height: 92px;
  border: 2px solid #f1f1f1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.item-about__title {
  text-align: center;
  color: #000;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 3.52px;
  margin: 0px 0px 35px 0px;
}
.item-about__text {
  text-align: center;
  color: #868585;
  line-height: 26px;
  font-weight: 300;
  font-size: 14px;
  margin-bottom: 90px;
}

.footer {
  background: #3c3c3c;
}
.footer__row {
  display: flex;
  height: 270px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.footer__logo {
  width: 122px;
  height: 78px;
}
.footer__nav {
  margin: 40px 0px 30px 0px;
}
.footer__list {
  display: flex;
  width: 260px;
  height: 11px;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
}
.footer__list li {
  margin: 0px 10px 0px 10px;
  color: #a4a4a4;
}
.footer__text {
  width: 175px;
  height: 13px;
  color: #6c6c6c;
  font-size: 14px;
  font-weight: 400;
}